* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.orange_btn {
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    cursor: pointer;
}
.orange_btn:hover {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 17px 34px;
}

.transparent_btn {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 17px 35px;
    cursor: pointer;
}
.transparent_btn:hover {
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.text_orange {
    color: #FD6E0A;
}

/* header style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    /* border: 1px solid yellow; */
}

.nav_title {
    font-size: 45px;
    font-weight: 800;
    /* border: 1px solid red; */
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    padding: 0;
    align-items: center;
    /* border: 1px solid rgb(12, 253, 253); */
}
a{
    text-decoration: none;
    color: black;
}

/* banner style */
.banner {
    display: flex;
    margin-left: 200px;
    /* border: 1px solid rgb(12, 253, 253); */
    align-items: center;
    justify-content: space-between;
}

.banner_sub_title {
    color: #474747;
    font-size: 30px;
    font-weight: 600;
}

.banner_title {
    color: #181818;
    font-size: 55px;
    font-weight: 700;
}

.banner_description {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

header {
    background-color: #FFF8F3;
    border: 1px solid #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 60%, auto;
}
.banner img{
    width: 50%;
}

/* Main Container Style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/*About Section Style */
.about_section {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 100px;
    margin: 100px;
    text-align: center;
}

.section_title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.section_description {
    margin: 30px;
    font-size: 18px;
}

/* Contact Container Style */
.contanct_container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.contact :first-child {
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.contact :nth-child(2) {
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}

/* What I do section style */
.whatIDo_section {
    text-align: center;
    margin-bottom: 130px;
    /* border: 1px solid red; */
    /* padding: 0px 100px; */
}

.work_description {
    padding: 0 200px;
}

/* skill card style */
.skills_container {
    display: flex;
    gap: 15px;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.skill_card {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill_card :nth-child(2) {
    font-size: 20px;
    font-weight: 700;
}

.skill_card img {
    margin-bottom: 10px;
}

.skill_card :nth-child(2) {
    margin-bottom: 10px;
}

.skill_card :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
}

/* Resume Section Style */
.summary_section {}

.qualification_container {
    display: flex;
    margin-top: 100px;
    gap: 24px;
}

.education_contnainer {
    /* width: 50%; */
    /* border: 1px solid yellow */
}

.experience_contnainer {
    /* width: 50%; */
    /* border: 1px solid blueviolet; */

}

.my_educationAndExperience {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.eduexp_title {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}

.eduexp_subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 5px;
    margin-bottom: 10px;
}

.eduexp_description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding-right: 50px;
}

.downloadCV_btn {
    margin-top: 50px;
    text-align: center;
}

hr {
    margin: 30px 0;
}

/* footer style */
footer {
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    margin-top: 110px;
    background: #FFF8F3;
    padding-bottom: 130px;
}
.lets_connect {
    width: 50%;
    margin-left: 100px;
}
.massage_me{
    width: 40%;
    margin-right: 100px;
}
.lets_connect h5 {
    text-align: left;
    margin-top: 80px;
}

.footer_description {
    margin-top: 20px;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
form input, textarea{
    border: 0;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 20px;
}
.massage_me h5{
    margin-top: 80px;
    margin-bottom: 28px;
}
textarea{
    height: 200px;
    padding-top: 20px;
}
.lets_connect a {
    
    margin-right: 12px;
}

/* hide section */
.hide{
    display: none;
}

/* Responsive styles */
@media screen and (max-width: 576px) {
    .skills_container{
        flex-direction: column;
    }
    .section_description {
        padding: 0;
        text-align: justify;
    }
    .about_section{
        margin:30px 0;
    }
    .contanct_container {
        flex-direction: column;
        gap: 10px;
    }
    .about_section{
        padding: 40px 10px;
    }
    footer{
        flex-direction: column;
        /* padding: 20px; */
        text-align: center;
    }
    .lets_connect{
        margin: 0;
        text-align: center;
        width: auto;
        padding: 20px;
    }
    .lets_connect h5{
        margin: 0;
        text-align: center;
        width: auto;
    }
    .massage_me{
        width: auto;
        margin: 0;
        padding: 20px;
    }
    .massage_me h5{
        margin-top: 0;
    }
    form input, textarea{
        width: 90%;
    }
    .qualification_container{
        flex-direction: column;
        padding: 20px;
    }
    nav, ul{
        flex-direction: column;
    }
    .banner{
        flex-direction: column;
        margin-left: 30%;
        align-items: flex-start;
        padding-bottom: 10%;
    }
    header {
        background-image: none, url("../images/developer.png");
    }
    nav li {
        list-style: none;
        margin: 0;
    }
    nav{
        margin: 20% 0% 5% 30%;
    }
    nav ul{
        align-items: flex-start;
        gap: 10px;
    }
    
    .orange_btn {
        padding: 8px 35px;
        font-size: 16px;
    }
    .transparent_btn{
        padding: 8px 35px;
        font-size: 16px;
    }
    .orange_btn:hover {
        padding: 7px 35px;
        font-size: 16px;
    }
    .transparent_btn:hover{
        padding: 9px 35px;
        font-size: 16px;
    }
    .banner img{
        order: -1;
        width: 100%;
    }
    .banner button{
        margin-bottom: 5%;
    }
}